@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />

<p>Thank you for your interest in America’s Little Leaders. 
    Whether you are discovering our school for the first time or know it quite well, 
    I am confident you will find lots of information and pictures to impress you. 
    Our goal is to inspire, empower, and encourage all students that enter our school 
    with the necessary skills to succeed in today’s challenging society.
</p>
<p>Each student is treated as an individual, focusing on their needs. Our foundation is built upon Proverbs 22:6, 
    “Train up a child in the way he should go, and when he gets old, he will not depart from it.” 
    We truly believe this applies to every aspect of life including education.
</p>
<p>There are so many obstacles our youth face today—peer-pressure, drugs, lack of mentors, etc. 
    In an effort to provide our children with an equal opportunity for success, a well-rounded education is the key. 
    Remember, “Knowledge is Power.” Once they have it, no one can take it from them. In order to make this work, we must bridge the gap between home and school. 
    Thus our teachers work with the parents to accomplish this goal.
</p>
<p>Each staff member is committed to ensuring that every child leaves our school with a greater understanding of themselves, 
    their world, and how they fit into it. Whatever your relationship is with our school, I hope you return to this site often.
    <br />
    Sincerely,
    <br />
    Director - Abbie Sanks
</p>