@{
    ViewBag.Title = "Home Page";
}
@model AmericaLittleLeaders.Models.ContainerModel
<div class="jumbotron">
    <ul class="bxslider">
        @foreach (var image in Model.images.ImagesList)
        {
            <li><img src = "@Url.Content("~/Content/images/contentSlider/" + image)" title = "@image"; height="400px"; width="800px" /></li>
        }
    </ul>
    <script type="text/javascript">
        $('.bxslider').bxSlider({
                mode: 'fade',
                captions: false,
                auto: true,
                autoControls: true,
                responsive: true
        });
        
    </script>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About ALL</h2>
        <p>
            @Html.ActionLink("Directors Welcome", "About", "Home")
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>ALL Resources</h2>
        <ul>
            @foreach (var fileName in Model.files.fileList)
            { 
                <li>
                    <a href="~/Content/Documents/@fileName">@fileName</a>
                </li>
            }
        </ul>
 
    </div>
    <div class="col-md-4">
        <h2>America Little Leaders</h2>
        <p>1527 Gandy St<br />
           Jacksonville, Florida 32208<br />
           Office: 904-240-1864<br />
           Fax: 904-240-1865<br />
           Email: Americasleaders2@gmail.com
        </p>
        
    </div>
</div>